body{
	margin: 0
}
header{
	background-color: #9FBA17;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
	
}

h1,h2{
	font-family: 'Permanent Marker', cursive;
	color: #01120F;
}

header h1{
	color: white;
	font-size: 85px;
	
}
header img{
	
	border-radius: 500px;
	width: 375px;
	height: 375px;
	border: 15px solid black;

}

main{
	max-width: 1000px;
	margin: 0 auto;
	padding: 100px 20px;

}
main img{
	max-width: 100%
}

h2{
	font-size: 50px;
}

 li{
 	font-size: 30px;
 }
 li a{
	color: black;

}
 li a:hover{
	color: #9FBA17;
}

footer{
	background-color:#9FBA17;
	text-align: center;
	color: white; 
	padding:10px;

}
footer a {
	color: white;
}
footer a:hover{
	opacity: .45;
	background-color: transparent;
	}
p{
	font-size: 33.5px;
}
p.caption{
	text-align: center;
}
