body{
	background-color: lightgrey
}

h1{
font-size: 30px;
color: yellow;
}
h2{
font-size: 45px;
color: red;

background: yellow;
}
.big{
font-size: 60px
}
.uppercase{
text-transform: uppercase;

}
.big.uppercase{
color: navy;

}
